/* You can add global styles to this file, and also import other style files */
body {
  overflow: hidden;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
  overflow: hidden;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

h3 {
  overflow: hidden;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

p {
  overflow: hidden;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}