/* You can add global styles to this file, and also import other style files */
body {
  overflow-x: hidden;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  margin-top: 35%;
  margin-bottom: 10%;
  font-size: 2.5em;
}

h3 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

p {
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
.spn {
  color: white;
  background-color: #f44336;
  margin: 15pt 28%;
  display: inline-block;
  text-align: center;
  width:40%;
  padding: 10pt;
  cursor: pointer;
  font-size: 1.2em;
}
